<div class="row">
  <h1 class="page-title">Listening to <%= @artist.name %></h1>

  <script type="text/javascript">
	  var artistVideoIDs = <%= @videos.to_json.html_safe %>;
  </script>

  <div class="radio">
	<div class="col-md-8">
	  <%= render 'partials/youtube_player' %>
	</div>
	<div class="col-md-4 right-sidebar">
	  <div class="artist-details">
		<h1>Upcoming Shows</h1>

		<% @upcoming_shows.each do |show| %>
			<p><%= show.venue.name %>: <%= show.date %></p>
		<% end %>

	  </div>
	</div>

  </div>


</div>