<div class="row">
  <h1>Listening to artists playing in <%= CGI.unescape(params[:city]) %></h1>

  <script type="text/javascript">
	  var artistVideoIDs = <%= @videos.to_json.html_safe %>;
  </script>

  <div class="radio">
	<div class="col-md-8">
	  <div class="youtube-player">
		<div id="ytapiplayer">
		  You need Flash player 8+ and JavaScript enabled to view this video.
		</div>

		<script type="text/javascript">
			var params = {allowScriptAccess: "always"};
			var atts = {id: "artist-playlist-yt-player"};
			swfobject.embedSWF("http://www.youtube.com/v/<%= @videos[0] %>?enablejsapi=1&playerapiid=ytplayer&version=3",
					"ytapiplayer", "720", "480", "8", null, null, params, atts);

		</script>
	  </div>
	</div>
	<div class="col-md-4 right-sidebar">
	  <div class="artist-details">
		<h1>Currently Playing</h1>

		<p><%= @show.artist.name %></p>

		<p>Playing at <%= @show.venue.name %></p>

		<p><%= @show.show_date %></p>

		<p>
		  <% if @favorite.nil? %>
		    <button id="add-show-to-favorites" data-show-id="<%= @show.id %>" class="btn btn-default">
			  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite
			</button>
		  <% else %>
	        <button id="add-show-to-favorites" data-show-id="<%= @show.id %>" class="btn btn-primary">
			  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Favorited
			</button>
		  <% end %>
		</p>
		<p><a href="<%= @show.url %>" class="btn btn-default">Buy Tickets</a></p>
	  </div>
	  <div class="skip-artist">
		<%= @link_to_next_show %>
	  </div>
	</div>
  </div>


</div>