<div class="row">
	<h1>Now listening to artists playing in <%= CGI.unescape(params[:city]) %></h1>

  	<p><%= @videos.inspect %></p>

  	<div class="radio">
		<div class="col-md-8">
		  <div class="youtube-player">
			<iframe width="720" height="480" src="//www.youtube.com/embed/UulEF42mlVQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			<button type="button" class="btn btn-default skip-song">Skip Song</button>
		  </div>
		</div>
	  	<div class="col-md-4 right-sidebar">
		  <div class="artist-details">
			<p><%= @show.artist.name %></p>
			<p>Playing at <%= @show.venue.name %></p>
			<p><%= @show.show_date %></p>
			<a href="<%= @show.url %>" class="btn btn-default">Buy Tickets</a>
		  </div>
		  <div class="skip-artist">
			<%= link_to "Next Artist: " + @next_show.artist.name, show_location_path(
													  :country => 'US',
													  :state => 'NY',
													  :city => 'New+York',
													  :artist => @next_artist
											  ), class: "btn btn-default" %>

		  </div>
		</div>
	</div>


</div>